.p_title
{
    font-size: 30px;
}
.p_subtitle
{
    font-size: 20px;
    color: grey;
}
.p_read
{
    padding: 14px 30px;
    display: inline;
    border: solid coral;
    color: black;
}
.p_read:hover
{
    border: solid coral;
    color: black;
    text-decoration: none;
    transition: 0.3s;
    background-color: coral;
}